src/main/resources/wsdl/PagoServiceFactura.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://pago.servicios.com/pago/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Pago"
	targetNamespace="http://pago.servicio.com/pago/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://pago.servicio.com/pago/">
			<xsd:element name="getPago">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getPago" type="tns:getPagoRequest" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="getPagoRequest">
				<xsd:sequence>
					<xsd:element name="idFactura" type="xsd:string"></xsd:element>
					<xsd:element name="valor" type="xsd:double"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="getPagoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getPagoResponse" type="tns:getPagoResp" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="getPagoResp">
				<xsd:sequence>
					<xsd:element name="price" minOccurs="0" 
						type="tns:Pago"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Pago">
				<xsd:sequence>
					<xsd:element name="idPago" type="xsd:string" fixed="Factura"/>
					<xsd:element name="valor" type="xsd:double" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="getPagoFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="code" type="xsd:string"></xsd:element>
						<xsd:element name="msg" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getPagoOperationRequest">
		<wsdl:part element="tns:getPago" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getPagoOperationResponse">
		<wsdl:part element="tns:getPagoResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getPagoOperationFault">
		<wsdl:part name="parameters" element="tns:getPagoFault"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Pago">
		<wsdl:operation name="getPagoOperation">
			<wsdl:input message="tns:getPagoOperationRequest" />
			<wsdl:output message="tns:getPagoOperationResponse" />
			<wsdl:fault name="fault" message="tns:getPagoOperationFault"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PagoSOAP" type="tns:Pago">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getPagoOperation">
			<soap:operation soapAction="http://pago.servicio.com/pago/getPagoOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PagoService">
		<wsdl:port binding="tns:PagoSOAP" name="PagoSOAP">
			<soap:address location="http://localhost:8080/PagoOperation" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
